    .upper-arrow-button {
      background-color: #5792e5;
      border: none;
      border-radius: 100px;
      padding: 12px;
      position: fixed;
      bottom: 50px;
      right: 5vmax;
    }

    .upper-arrow-button img {
      width: 30px;
      height: auto;

      margin: 0;
      border-radius: 76px;
      padding: 0;
    }

    .upper-arrow-button:hover img {
      animation: upper-arrow-button 1s ease 0s infinite alternate-reverse;
      

    }

    @keyframes upper-arrow-button {
      0% {
        transform: translatey(5px);

      }

      25% {
        transform: translatey(-5px);
      }

      /* 50% {
        transform: translatey(-5px);
      } */
      100% {
        transform: translatey(10px);

      }
    }

@media (orientation: portrait){


    .upper-arrow-button {
      background-color: #5792e5;
      border: none;
      border-radius: 100px;
      padding: 22px;
      position: fixed;
      bottom: 7vmax;
      right: 5vmax;
    }


    .upper-arrow-button img {
      width: 90px;
      height: auto;

      margin: 0;
      border-radius: 76px;
      padding: 0;
    }

}

    /*  <button class=" upper-arrow-button">
    <img src="arrow.png" alt="">

  </button>*/